<h1>Seja Bem-Vindo!</h1>
<p>O idioma usado nessa aplicação é: <b> <%= t('actual_locale') %> </b></p>
<p><b>Data:</b> <%= l(Date.today) %></p>
<p><%= t('hello')%></p>

<%= render "menu" %>

<p> 
    Você esta em ambiente <strong><%= ambiente_rails %> </strong>
</p>

<p> Eu sou uma variavél de instância/ sessão : <b><%= @meu_nome %></b>  </p>
<p> Meu curso é : <b><%= @curso %></b> </p>